        html, body {
          min-height: 100%;
        }

        body {
          margin: 0;
          background: linear-gradient(45deg, #49a09d, #5f2c82);
          font-weight: 100;

          padding: 0;
          outline: none;
          font-family: Roboto, Arial, sans-serif;
          font-size: 16px;
          color: #eee;
        }

        .container {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        table {
          width: 800px;
          border-collapse: collapse;
          overflow: hidden;
          box-shadow: 0 0 20px rgba(0,0,0,0.1);
        }

        th,
        td {
          padding: 15px;
          background-color: rgba(255,255,255,0.2);
          color: #fff;
        }

        th {
          text-align: left;
        }

        thead {
          th {
            background-color: #55608f;
          }
        }

        tbody {
          tr {
            &:hover {
              background-color: rgba(255,255,255,0.3);
            }
          }
          td {
            position: relative;
            &:hover {
              &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: rgba(255,255,255,0.2);
                z-index: -1;
              }
            }
          }
        }
      .main-block {
      flex-direction: row;
      height: calc(100% - 50px);
      }
      button {
      padding: 10px 5px;
      margin-top: 20px;
      border-radius: 5px;
      border: none;
      background: #26a9e0;
      text-decoration: none;
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      width: 100%;
      }
      button:hover {
      background: #85d6de;
      }